body {
  font-family: figtree;
  padding: 0%;
  margin: 0%;
  scroll-padding-bottom: 100px;
}

header {
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  color: white;
}

#topholder{
  position: fixed;

  width: 100%;
  background-color:rgb(255, 255, 255);
}


#topbar {

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
  top: 0rem;
  width: 95%;

  padding: 0px 50px;
  padding-bottom: 10px;
  width: 90%;
  z-index: 1000;
}

#topbarnav{
  display: flex;
  gap: 1rem;
}

#topbarnav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.hero{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  width: 70%;
  padding-top: 170px;
  padding-bottom: 100px;
}

#hero-info{
  display: flex;
  flex-direction: column;
}

#hero-img{
  background-image: url("./files/medclose.jpg");
  width: auto;
  height: auto;
  min-width: 350px;
  min-height: 350px;

  border-radius: 50%;
  background-size: cover;
  background-size: 130%;
  background-position: 50% 10%;

  /* object-fit: cover; */
  /* object-position: center 20%; */
  /* transform: scale(2) */
  /* background-color: #FF8C42; */
}

.hand-emoji {
  animation: wave 2.7s infinite;

  display: inline-block;
  transform-origin: bottom right;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  7.5% { transform: rotate(14deg); }
  15% { transform: rotate(-8deg); }
  22.5% { transform: rotate(14deg); }
  30% { transform: rotate(-4deg); }
  37.5% { transform: rotate(10deg); }
  45% { transform: rotate(0deg); }
  75% { transform: rotate(0deg);}
}

.wrap {
  background-color:rgb(48, 69, 164);
  color: aliceblue;
  align-content: center;
  padding: 5px;
  font-size: 2rem;
}

.cursor {
  display: inline-block;
  position: relative;
  width: 3.2px;
  height: 2.1rem;
  background-color: #ffffff;
  top: 6px;
  margin-right: 1.6px;
  animation: blink 1s step-end infinite;
  z-index: 1;

}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


.content{
  scroll-padding-bottom: 100px;

  width: 100%;
  height: 100%;
  padding: 1rem 0rem;
  background-color: rgba(110, 94, 94, 0);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  width: 80%;
 /* height: 400px; */
  background-color: rgba(0, 69, 181, 0.05);
  border-radius: 1.5rem;
  border: 1.5px solid rgb(43, 43, 43);
}


p {
  font-size: 1rem;
}

a{
  text-decoration: underline;
  color: rgb(23, 116, 255);
}
a :visited{
  color: rgb(23, 116, 255);
}



/* Major Third */
h1 {
  font-size: 3.815rem;
  margin-bottom: 0%;
  margin-top: 0%;
}

h2 {
  font-size: 3.052;
  margin-bottom: 0.5rem;
}

h3{
  font-size: 2.441;
  margin-bottom: 0rem;

}



footer{
  height: 2rem;
  text-align: center;
  padding: 5% 0;
}

.social {
  background-color: #ffffff;
  width:auto;
  display: inline;
  text-align: center;
  /* display: flex; */
  align-items: center;
  gap: .5rem;
  font-size: 1rem;

  border-radius: .5rem;
  border: 1.5px solid rgb(43, 43, 43);
}

.social img{
  width: 37px;
  height: 37px;
}


.gmailholder{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
}

.socialinner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
}

.socialorgan{
  display: flex;
  gap: 1rem;
}

.skillicon {
  width: 3rem;
  height: 3rem;
  margin-left: .4rem;
}

/* 580 */
@media (max-width: 780px) {
  /* Styles for phones */

  .hero {
    flex-direction: column-reverse;
    align-items: center;

  }


  .socialorgan{
    flex-direction: column;
  }

  .wholepage{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 580px) {
  /* Styles for phones */

  #topholder {
    display: none;
    padding: 0px 0px;
    margin: 0rem 0rem;
  }

  #hero-img{
    width: auto;
    height: auto;
    min-width: 200px;
    min-height: 200px;
  }

  .hero{
    padding-top: 2.5rem;
  }
}