.mario-vid {
    grid-area: vid;
}

.mario-inner{
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-area: m-inner;
}

#mario-project-card {
    /* grid-template-areas: 'vid vid vid m-inner'; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

#m-inner-2{
    display: flex;
    flex-direction: row;
    align-content: center;
    min-width: 100%;
}

#m-inner-3{
    width: 30%;
}


/* .hero{
    background: #542d96; background: -webkit-linear-gradient(49deg, rgb(84, 45, 150) 1%, rgb(32, 173, 206) 98%); background: linear-gradient(49deg, rgb(84, 45, 150) 1%, rgb(32, 173, 206) 98%)
}*/